/* CUSTOM STYLES FOR REVAMPED CONFETTI WEBSITE */

/* LAYOUT */

* {
	border: 1px solid gray;
}

header {
	/*background-image: url("http://via.placeholder.com/1500x650");*/
}

section {
	/* This padding is applied to all section elements to ensure content is left-aligned with jumbotron */
	/* NB: This cost you 30 minutes, as you couldn't figure out why there was additional padding-left on sectoin elements!*/
	/*padding-left: 32px;*/
}

@media screen and (max-width: 766px){

}


/* TYPOGRAPHY */

body {
	/* Following fonts used for testing purposes */
	font-family: 'Alegreya', serif;
	font-family: 'Alegreya Sans', sans-serif;
}

nav {
	background-color: white;
}

h1, h2 {
	/* Following fonts used for testing purposes */
	font-family: 'Playfair Display', serif;
	font-family: 'Abril Fatface', cursive;
}

.playfair {
	font-family: 'Playfair Display', serif;
}

.serif {
	font-family: 'Alegreya', serif;
}

/* COLOURS */

.custom-toggler.navbar-toggler-icon {
	/*Adds pink colour to border */
  border-color: rgb(255,102,203);
  color: blue;
}

/* A class to apply to elements to highlight them for screenshots */

.show {
	background-color: #aca;
}

.show-p {
	background-color: #fcd;
}