/* CUSTOM STYLES FOR REVAMPED CONFETTI WEBSITE */

/* LAYOUT */

* {
	/*border: 1px solid gray;*/
}

header > div {
	max-width: 375px;
	/*padding-top:  2.42rem;*/
}

header.jumbotron {
	/* Sets minimum height on jumbotron elements, so that content doesn't determine height */
	min-height: 300px;
}

.display, .lead, .margin-bottom {
	margin-bottom: 1rem;
}

.nav-item {
	margin-right: 10px;
	margin-left: 10px;
}

.no-gutter[class*="col-"] {
	/* Removes default Bootstrap padding from any element containing 'col-x' classes */
	padding-left: 0;
	padding-right: 0;
}

@media screen and (max-width: 766px){

}

@media screen and (max-width: 330px) {
	/* Removes un-sightly line break at this breakpoint, displaying text in-line*/
	br.title-breaker {
		display: none;
	}
}

@media screen and (min-width: 330px) {
	/* Re-applies line break line break at this breakpoint, as screen gets larger */
	br.title-breaker {
		display: block;
	}
}

/* TYPOGRAPHY */

/* Font sizes and leading */

html {
	font-size: 1rem;
}

body {
	line-height: 2.25rem;
}

small {
	line-height: 1.21rem;
}

.italic {
	font-style: italic;
}

.margin-bottom {
	/* This custom class applies a margin-bottom, equal to the line-height, to build vertical rhythm */
	/*margin-bottom: 1.375rem;*/
}

@media screen and (max-width: 768px){
	html {
		/* Drops down font size to fit on smaller screens */
		font-size: 0.875rem;
	}

	body {
		line-height: 2rem;
	}
}

h1.display>div {
	/* Since I have each word of the H1 in seperate divs,
	so that they start on a new line */
	font-size: 4.236rem;
}

h2.display {
	font-size: 2.618rem;
}

.lead {
	font-size: 1.618rem;
}

address, .navbar-nav {
	font-size: 1rem;
}

/* Typefaces */

body {
	/* Following fonts used for testing purposes */
	font-family: 'Alegreya', serif;
	font-family: 'Alegreya Sans', sans-serif;
}

nav {
	background-color: white;
}

h1, h2 {
	/* Following fonts used for testing purposes */
	font-family: 'Playfair Display', serif;
	font-family: 'Abril Fatface', serif;
}

.playfair {
	font-family: 'Playfair Display', serif;
}

.serif {
	font-family: 'Alegreya', serif;
}


/* COLOURS */

:root {
    --rc-pink: #FF1493;
    --rc-purple: #6495ED;
    --rc-lightest-purple: #F1F5FD;
    --rc-lighter-purple:  #E0E9FB;
    --rc-light-purple: #CFDCF8;
    --rc-purple-grey:  #4B70B2;
    --rc-purple-black: #19253B;
}

.rc-pink {
	background-color: var(--rc-pink);
	color: white;
}
.rc-purple {
   background-color: var(--rc-purple);
}
.rc-lightest-purple {
   background-color: var(--rc-lightest-purple);
}
.rc-lighter-purple {
   background-color: var(--rc-lighter-purple);
}
.rc-light-purple {
   background-color: var(--rc-light-purple);
}
.rc-purple-grey {
   background-color: var(--rc-purple-grey);

}
.rc-purple-black {
   background-color: var(--rc-purple-black);
   /* Change text colour, based on dark background */
}

body {
	background-color: white;
}

.black {
	background-color: #000000;
	color: #FFFFFF;
}

header > div {
	background-color: rgba(255,255,255,0.95);
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
.custom-toggler.navbar-toggler-icon {
	/*Adds pink colour to border */
  border-color: rgb(255,102,203);
  color: blue;
  /*padding-right: 3rem;*/
}

section {
	background-color: #FFFFFF;
}

/* A class to apply to elements to highlight them for screenshots */

.show-g {
	background-color: #aca;
}

.show-p {
	background-color: #fcd;
}

/* IMAGES */

header {
	background-image: url('../img/hero-little-warm.jpg');
}

img.min-400 {
	min-height: 320px;
	max-height: 320px;
	width: 100%;
	display: flex;
	flex: 1;
}

img.landing-images {
	height: 100%;
	width: 100%;
	min-height: 400px;
	max-height: 400px;
}

@media screen and (max-width: 767px) {
	/* Restrict image size on smaller screens */
	img.landing-images {
		min-height: 320px;
		max-height: 400px;
	}
}

img.mh-50 {
	/*custom class to restrict height of SVG logo-mark */
	max-height: 50px;
}

img.mh-66 {
	/*custom class to restrict height of SVG logo-full */
	max-height: 66px;
}

.back-image{
	/*Custom class to apply images as backgrounds*/

	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;

	/* Background image doesn't tile */
	background-repeat: no-repeat;

  	/* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
	/*background-attachment: fixed;*/

  	/* This is what makes the background image rescale based
     on the container's size */
	background-size: cover;
}

/* USER INTERFACE ELEMENTS */

.sticky-top, a.btn.btn-block {
	color: white;
	box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

a.btn.btn-block:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

a.nav-link {
	color: black;
}
.navbar-nav a.nav-link {
	letter-spacing: .175rem;
}

.navbar-light .navbar-nav .nav-item.active > a.nav-link {
	color: black;
}

header a.nav-link {
	text-decoration: underline;
}

.footer-links > a {
	color: #FFFFFF;
	text-decoration: underline;
}

li.active > a {
	padding-bottom: 0;
	border-bottom: solid 4px var(--rc-pink);
}

@media screen and (max-width: 767px) {
	/* Needed to STOP applying these styles one pixel below Bootstrap 4 breakpoint of 768 px, else layout would break at this point */
	li.active > a.nav-link {
		border-bottom: none;
	}

	.navbar-light .navbar-nav .nav-item.active > a.nav-link {
		/* Specific over-ride needed for Bootstrap class */
		color: var(--rc-pink)
	}

	li {
		font-size: 1.5rem;
	}

	#mobileMenu > ul {
		border-top: solid 1px black;
		border-bottom: solid 1px black;
		/*margin-top: 1.21rem;
		margin-bottom: 2.42rem;*/
		padding-top: 1.5rem;
		padding-bottom: 1rem;
	}

	.navbar-collapse {
		/* These styles over-ride the 'pb-0' class applied to the 'nav' element, to add some padding to the collapsable menu on smaller screens*/
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}
}

/* Misc */

section> .form-wrapper {
	border: solid 20px transparent;
	/* Need to specify a border first, before image will display */
	border-image: url('../img/frame-border.jpg') 300 round;
}

/* Bootstrap 4 responsive breakpoints */
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }